*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style for entire Nav body in Desktop view */
.nav-body{
    position: absolute;
    font-weight: 700;
    background-color: rgba(240, 248, 255, 0.817);
    /* opacity: 0.8; */
    width: 100%;
    position: fixed;
    height:60px;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    .nav{
        height: 100%;
        display: flex;
        list-style: none;
        /* gap: 5%; */
        li{
            width:100%;
            height: 100%;
            line-height: 60px;
        }
    }

    .paraContent{
        line-height: 20px;
        font-size: 15px;
        overflow: hidden;
        overflow-y:scroll ;
    }

    
    /* Style for the hidden nav which displays after hovering on navbar element */
    .hiddenNav{
        position: absolute;
        visibility: hidden;
        background-color: white;
        height: 300px;
        width: 600px;
        z-index: 999;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0 20px 30px;
        transition: 0.3s ease-in;
        #hidden-nav-left{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;   
            list-style: none;        
        }
        #hidden-nav-left li{
            width: 100%;
            height: 20px;
            text-align: left;
        }
        #hidden-nav-left li a{
            width: 100%;
        }
        #hidden-nav-right{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        #hidden-nav-right .inner-div-1{
            width: 100%;
            height: 30px;
            list-style: none;
        }
        #hidden-nav-right .inner-div-1 li{
            width: 100%;
            text-align: left;
        }
        #hidden-nav-right .inner-div-2{
            height: 100%;
            display: flex;
            /* justify-content: flex-start; */
        }
        #hidden-nav-right .inner-div-2 ul{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            list-style: none;
        
        }
        #hidden-nav-right ul li{
            height: 20px;
        }
        
    }

    /* keeps displaying the hidden div after hovering over nav itself */
    .hiddenNav:hover{
        display: flex;
    }
    

    /* Displays the hidden div after hovering over nav element */
    
    .platformHolder:hover + #platform{
        visibility: visible;
    }
    .platformHolder:hover + #solutions{
        visibility: visible;
    }
    
    .platformHolder:hover + #start-building{
        visibility: visible;
    }
    /* keeps displaying the hidden div after hovering over nav itself */
    
    #platform:hover{
        visibility: visible;
    }
    /* keeps displaying the hidden div after hovering over nav itself */

    #solutions:hover{
        visibility: visible;
    }

    /* keeps displaying the hidden div after hovering over nav itself */
    #start-building:hover{
        visibility: visible;
    }
    .nav-left{
        width: 70%;
        justify-content: center;
        gap: 5px;
        .nav-left-items{
            width: 100%;
            a{
                width: 100%;
            }
        }
        

        
    }
    .nav-right{
        width: 30%;
        justify-content: flex-end;
        margin-right: 5%;
        .nav-right-items{
            display: flex;
            .anchorTag{
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            img{
                width: 40px;
                height: 40px;
                padding: 5px;
                margin-top: 10px;
            }
            img:hover{
                border: 2px solid blue;
                border-radius: 5px;
            }
            
        }
        #signInBtn{
            height: 40px;
            width: 80px;
            margin: auto 0;
            background-color: rgb(80, 80, 245);
            border-radius: 10px;
            padding: 5px;
            color: white;
            opacity: 1;
            font-weight: 700;
        }
        #signInBtn:hover{
            background-color: blue;
            
        }
    }
}

/* Style for each anchor tag bearing class anchorTag */
.anchorTag{
    color: black;
    height: 40px;
    /* width: 100%; */
    display: flex;
    padding: 0 3px;
    font-weight: 700px;
    align-items: center;
    margin: 10px 0;
    img{
        height: 30px;
        width: 30px;
    }
}

.anchorTag:hover{
    border: 2px solid rgb(4, 48, 248);
    border-radius: 10px;
    border-spacing: 0cap;
}

.logoHolder{
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img{
        width:100px;
        height: 60px;
    }
}
/* We hide the mobile navbar in desktop view */
.mobileNav{
    display: none;
    position: absolute;
}
.hamburger{
    background-color: black;
    height: 40px;
    margin-top: 10px;
}
/* This is style for  hidden sidebar */
#sidebar{
    display: none;
    background-color: rgb(255, 254, 254);
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    width: 50%;
    height: 100vh;
    list-style: none;
    img{
        margin-top:10%;
        width: 40px;
        height: 40px;
        float: right;
        margin-right: 10%;
    }
    
    li{
        height: 50px;
        width: 100%;
        line-height: 100px;
        padding-left: 20px;
        font-size: 1.5em;

    }
    
}

#searchContainer{
    width: 90%;
    height: 80vh;
    position: fixed;
    background-color: white;
    z-index: 999;
    top: 10vh;
    left: 5%;
    display: none;
    flex-direction: column ;
    align-items: center ;
    padding: 20px;
    padding-top: 40px;
}

.searchContainer:hover{
    display: flex;
}
#searchContainer input{
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
}
.search-container-inner-div{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 80%;
}
.search-container-inner-div-left{
    width: 40%;
    height: 100%;
}
.search-container-inner-div-left ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* line-height: 30px; */
    list-style: none;
}
.search-container-inner-div-left ul li{
    height: 20px;
    line-height: 0px;
    a{
        padding-left: 20px;
        width: 600px ;
        line-height: 30px;
        margin: 0;
        font-weight: 300;
    }
}

.search-container-inner-div-right{
    width: 40%; 
    height: 70%;
    margin-top: 40px;
    background-color: rgb(91, 91, 253);
    border-radius: 10px;
    padding: 20px ;
    button{
        background-color: white;
        height: 40px;
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        font-size: 1.3em;
        font-weight: 700;
        color: rgb(91, 91, 253) ;
    }
    button:hover{
        background-color: rgb(91, 91, 253);
        color: white;
    }
}

@media (max-width:600px) {
    
    /* Hides the desktop navbar in Mobile view */
    .fullNav{
        display: none;
    }

    /* Displays the mobile nav in mobile view */
    .mobileNav{
        min-width: 100vh;
        display: flex;
    }
    .mobileNav li:first-child{
        margin-right: auto;
        margin-left: 5%;
    }
    .nav{
        width: 100%;
        justify-content: flex-end;
    }
    /* Keeps the sidebar hidden in mobile view at initial */
    .sidebar{
        display: none;
    }
    
}
a{
    text-decoration: none;
    color: black;
}
















/* This is style for the main Container */
.mainContainer{
    padding-top: 60px;
    min-width: 100%;
    height: auto;
    z-index: 0;
}

/* Applies style for all the h1's */
h1{
    font-size: 4em;
    color: white;
    text-align: center;
}   

/* Makes the font black */
.font-black{
    margin-top: 30px;
    font-size: 40px;
    color: black;
}
.font-black + p{
    font-size: 20px;
}

/* Gives style for the landing view */
.backImageHolder{
    width: 100%;
    height: 100vh;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-275deg, blue, white);
    align-items: center;
}

/* Gives the style for info present in upper view*/
.infoHolder{
    width: 50%;
    p{
        margin-top: 30px;
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
}

/* Gives style for the video Holder */
.videoHolder{
    width: 50%;
    margin-top: 100px;
    border-radius: 20px ;
    iframe{
        border-radius: 20px ;
    }
}

/* Gives style to the div holding buttons */
.buttonHolder{
    margin-top: 30px;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button{
        width: 150px;
        height: 40px;
        border-radius: 5px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
    .deploy{
        background-color: rgb(80, 180, 238);
    }
    .deploy:hover{
        background-color: rgb(98, 184, 234) ;
        border: 1px solid white;
        box-shadow: 0 0 10px blue;
    }
    
    #requestDemo{
        color: white;
        border: 2px solid white;
        background-color: transparent;
    }
    #requestDemo:hover{
        background-color: blue;
        color: white;
    }
}

/* Gives style for the Card holder */
.cardHolder{
    margin: 0 auto;
    margin-top: 500px;
    width: 80%;
    gap: 5%;

    height: 300px;
    display: flex;
    .card{
        width: 30%;
        height: 100%;
        box-shadow: 0 0 10px gray;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 20px;
        .title{
            height: 25px;
            width: 50%;
            line-height: 25px;
            border-radius: 15px;
            text-align: center;
            font-weight: 400;
            font-size: 1.2em;
        }
        #title-1{
            background-color: lightblue;
            color: black;
        }
        #title-2{
            background-color: rgb(121, 214, 245);
            color: black;

        }
        #title-3{
            background-color: rgb(241, 227, 95);
            color: black;
        }
        p{
            font-weight: 600;
        }
        h3{
            font-size: 30px;
        }
        img{
            height: 20px;
        }
    }
}
.expBtn{
    display: block;
    height: 50px;
    width: 180px;
    line-height: 50px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgb(8, 4, 252);
    margin-top: 40px;
    border-radius: 20px;
    padding: 0 5px;
}

.enterpriseHolder{
    margin-top: 40px;
    width: 100%;
    align-items: center;
    .logo-holder{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        img{
            height: 60px;
        }
    }
}


.advertise{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(-275deg, blue, rgb(74, 216, 245));
    align-items: center ;
    .centerDiv{
        width: 60%;
        height: 60%;
        border: 2px solid white;
        border-radius: 20px;
        display: flex;
        .center-div-left{
            background-color: rgb(23, 23, 98);
            width: 50%;  
            height: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 5%;
            h2{
                font-size: 2.1em;
                color: white;
            }
            .iterable{
                display: inline-block;
            }
            #changeable{
                font-size: 2.1em;
                font-weight: 700;
                width: 100%;
                border-right: 5px solid;
                white-space: nowrap;
                overflow: hidden;
                animation: typing 2s infinite,
                cursor .4s step-end infinite alternate
            }
            
            p{
                margin-top: 30px;
                color: white;
            }
            .btnLeft{
                display: inline-block;
                height: 40px;
                width: 40%;
                margin-top: 30px;
                background-color: transparent;
                color: white;
                font-weight: 600;
                margin-left: 20px;
                border: 2px solid white;
                border-radius: 5px;

            }
            .btnLeft:hover{
                cursor: pointer;
                background-color: white;
                color: black;
            }
        }
        .center-div-right{
            background-color: rgb(50, 50, 125);
            border-radius: 0 20px 20px 0;
            width: 50%;
            height: 100%;
            overflow: hidden;
            overflow-y: scroll;
            .topRight{
                position: absolute;
                width: 29.8%;
                background-color: rgb(50, 50, 125);
                border-radius: 0 20px 0 0 ;
                color: white;
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-evenly;
                    gap: 5%;
                    li{
                        height: 30px;
                        width: 50px;
                        img{
                            height: 30px;
                            width: 30px;
                        }
                        p{width: 100%;
                            display: none;
                        }
                    }
                    li:hover p{
                        width: 100%;
                        color: white;
                        display: inline-flex;
                    }
                    
                }
            }
            .contents{
                display: flex;
                flex-direction: column;
                text-overflow: clip;
                padding: 20px;
                padding-top: 40px;
                color: white;
                text-align: justify;
                
            }
            .contents div{
                margin: 10px auto;

            }
            
            .contents::-webkit-scrollbar{
                display: none;
            }
        }
        .center-div-right::-webkit-scrollbar{
            display: none;
        }
        
    }
    .addContainer{
        height: 20%;
        width: 50%;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 1.1em;
                color: white;
            }
        }
    }
}

.customerStory{
    width: 90%;
    height: 300px;  
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    .customer-story-left{
        width: 40%;
        height: 100%;
        border-radius: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: blue;
        padding: 40px;
        .customer-story-left-logo{
            display: flex;
            img{
                height: 60px;
            }
            h1{
                margin: 0;
            }
        }
        .customer-story-left-li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            li{
                width: 100%;
                line-height: 40px;
                text-align: center;
                display: flex;
                align-items: center;
                img{
                    height: 25px;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
    .customer-story-right{
        height: 100%;
        width: 60%;
        border-radius: 0 20px 20px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        #header{
            width: 150px;
            text-align: center;
            display: inline-block;
            background-color: rgb(160, 240, 240);
            color: blue;
            padding: 5px;
            border-radius: 20px;
        }
        #opinion{
            font-size: 28px;
            font-weight: 500;
        }
        a{
            margin-top: 20px;
            img{
                height: 22px;
            }
        }
    }
}@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0%;
    }
}

@media (max-width:600px) {
    .mainContainer{
        min-width: 100vh;
    }
    
    h1{
        width: 100%;
        font-size: 3em;
    }
    .infoHolder{
        width: 100%;
    }
    .buttonHolder{
        width: 100%;
        height: 150px;
        flex-direction: column;
        gap: 30px;
        button{
            display: block;
            width: 50%;
            height: 80px;
            font-size: 2em;
        }
    }
    .videoHolder{
        width: 90%;
    }
    .cardHolder{
        height: 1000px;
        margin-top: 350px;
        flex-direction: column;
        align-items: center;
        .card{
            width: 90%;
            h3{
                font-size: 3em;
            }
            p{
                font-size: 1.5em;
            }

        }
    }
    .expBtn{
        font-size: 1.5em;
        width: 50%;
    }
    .logo-holder{
        gap: 20%;
        flex-wrap: wrap;
        height: 200px;
        img{
            margin-top: 30px;
        }
    }
    .advertise{
        width: 100%;
        height: 100%;
    }
    .centerDiv{
        height: 60%;
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .center-div-left{
            min-width: 100%;
            height: 50%;
            border-radius: 0 20px 20px 0;
        }
        .center-div-right{
            display: none;
        }
    }
    .addContainer{
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;
        div{
            p{
                font-size: 20px;
            }
        }
    }
    .customerStory{
        min-width: 100%;
        min-height: 1000px;
        flex-direction: column;
        .customer-story-left{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            color: white;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0px;
        }
        .customer-story-left-li{
            height: 100%;
            font-size: 1.5em;
        }
        .customer-story-right{
            width: 90%;
            margin: 0 auto;
            #opinion{
                font-size: 2em;
            }
            #content{
                font-size: 1.5em;
            }
        }
    }
    .font-black{
        color: white;
    }
    #mobile-black{
        color: black;
    }
}


















.footer-body{

    min-width: 100vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar{
        width: 80%;
        height: 40px;
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            gap: 20px;
            li{
                height: 100%;
                img{
                    height: 30px;
                }
            }
            li:first-child{
                margin-right: auto;
            }
        }
    }
}

#logo{
    height: 40px;
}
.container{
    width: 90%;
    display: flex;
    justify-content: space-around   ;
    ul{
        list-style: none;
        li{
            line-height: 40px;
        }
    }
}

.feedback{
    width: 60%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    p{
        font-size: 1em;
        font-weight: 500;
    }
    .inputContainer{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        input{
            height: 40px;
            width:100%;
            border-radius: 10px;
        }
        button{
            margin-left: 20px;
            background-color: rgb(69, 243, 234);
            height: 40px;
            width: 30%;
            border: none;
            border-radius: 10px;
            font-size: 1em;
            font-weight: 700;
        }
    }
}

.final{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}
.final ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.final ul li{
    margin-left: 20px;
    font-weight: 200;
}
.final ul li:last-child{
    margin-right: 20px;
    margin-left: auto;
    
}
.drop-container{
    display: none;
}

@media (max-width:600px) {
    .drop-container{
        display: flex;
        width: 100%;
    }
    .fullView{
        display: none;
    }
    .drop-container ul{
        width: 100%;
        list-style: none;
        font-size: 1.5em;
        
    }
    .drop-container ul li{
        height: 60px;
        background-color: rgb(245, 242, 238);
        margin-top: 20px;
        padding-left: 20px;
        line-height: 60px;
        display: flex;
        flex-direction: column;
    }
    .drop-container ul li:hover{
        cursor: pointer;
    }
    .drop-container ul li div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .drop-container ul li div img{
        height: 30px;
        width: 30px;
        margin-right: 20px;
    }
    .hidden-drop{
        display: none;
        width: 100%;
        background-color: rgb(245, 242, 238);
        z-index: 999;
    }
    .hidden-drop li{
        width: 100%;
        font-size: 0.6em;
    }
    
}

